<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= if assigns[:page_title],
        do: assigns[:page_title] <> " - Replicant Network",
        else: "Replicant Network" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    <div class="flex flex-row justify-between p-2 px-4">
      <.link href={~p"/"}>
        <img src={~p"/images/logo.png"} alt="logo" class="h-16" />
      </.link>
      <ul class="relative z-10 flex items-center gap-4">
        <li>
          <.link href={~p"/workers"} class="btn btn-primary">
            Workers
          </.link>
        </li>
        <li>
          <.link href={~p"/stats"} class="btn btn-primary">
            Stats
          </.link>
        </li>
        <%= if @current_user do %>
          <li>
            <.link href={~p"/credits"} class="btn btn-primary">
              Credits
            </.link>
          </li>
          <li>
            <.link href={~p"/users/settings"} class="btn btn-primary">
              Settings
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_out"} method="delete" class="btn btn-primary">
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"} class="btn btn-primary">
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"} class="btn btn-primary">
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
